<div id="container">
  <div class="container-item">
    <p class="logo">Platforum 9</p>
  </div>
  <div class="container-item">
    <p class="session">My Sessions</p>
    <p class="btn btn-green">Create a session</p>
  </div>
  <div class="container-item">
    <p class="btn">Live</p>
    <p class="btn">Working on</p>
    <p class="btn btn-active">Scheduled</p>
    <p class="btn">Past</p>
  </div>
  <div class="container-item">
    <p class="messages">Messages</p>
    <p class="settings">Profile & Settings</p>
  </div>
  <div class="container-item">
    <forum></forum>
  </div>
</div>